body{
	margin: 0;
	background: #fff;
	
	padding-top: 20px;
	padding-bottom: 20px;
}
header{
	border-bottom: 3px solid  #eee;
	padding-bottom: 10px;
	text-align: center;
}
div{
	width: 1000px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.banner{
	width: 100%;
	height: 450px;
	padding-top: 40px;
	padding-bottom: 20px;
}
p{
	font-size: 18px;

}
.box1{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #0CA26D;
	text-align: center;
}
.box1 h1 {
	font-size: 50px;
	color: #fff;
}